  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #FFF;
 }

.card{
  height: auto;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#00DDEB, #407cff 50%,#5B42F3);
}

.content{
  padding: 15px;
}

.button button{
  background-color: #FFF;
  color: #407cff;
  width: 90px;
  height: 70px;
  padding: 0px;
}
