.inputText{
    width: 340px;
    height: 20px;
    border-style: solid;
    outline: 0;
    border: 0;
    border-bottom: 2px solid cyan;
    border-color: #0dc2c2;
    background-color: transparent;
    color: teal;
}