body {
  background-image: url('./assets/rm222-mind-16.jpg');
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:center;
}
