.container-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.315);
}

.card-login {
  display: inline-block;
}

.button-login {
  width: 100%;
}

.radio-grup-register-login {
  margin-bottom: 20px;
}
