.aboutPage{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.spanFe{
    color: #00b4b4;
    font-weight: 700;
}
.cardAbout{
    background-color: aliceblue;
    width: 350px;
    height: auto;
    border-radius: 10px;
    padding: 2rem;
    text-align: justify;
    box-shadow: 0px 4px 15px 12px rgba(0,0,0,0.1);
}

.imgProfile{
    width: 130px;
    margin-top: -80px;
    border-radius: 50%;
    background-color:#00b9d0;
    box-shadow: -1px -2px 14px 1px rgba(0,0,0,0.22);
    -webkit-box-shadow: -1px -2px 14px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px -2px 14px 1px rgba(0,0,0,0.22);
}

.titlePage{
    text-align: center;
}